html , body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}



p {
    font-size: 30px;
}


.contenitore { 
    display: flex;
    justify-content: center;
    
    .small { 
         margin: 10px;
        height: 100px;
        width: 100px;
        background-color: aqua;

        &:hover {
            background-color: aliceblue;
        }
 
    }
}