html , body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

 
 
.landing__section {     
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: rgb(223, 223, 223);
    
 svg path   {
    fill: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.2s;
    stroke: rgba(46, 46, 46, 0.411);

        &:hover  {
            fill: rgb(255, 201, 52);
        }
 
    }

    .lago {
        fill: rgb(0, 195, 255);
    }
 
}


.info__section {
    height: 100%;
    width: 100%;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

